body {
    font-family: Arial, sans-serif;
    background-color: #eafdfd;
    text-align: center;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #333;
}

p {
    font-size: 20px;
}

#power-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

#power-button.off {
    background-color: red;
}