@font-face {
    font-family: 'pcis';
    src: url(../font/pcis/PolandCannedIntoFuture-OxE3.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'consolas';
    src: url(../font/consolas/L-Consolas.ttf);
    font-weight: normal;
    font-style: normal;
}

html body{
    font-family: 'consolas';
}



